@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding:0;
}
nav{
    font-family: "Ubuntu", sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 89px;
    background-color: black;
    color: white;
}

.brand img{
    width:44px
}